html{
    background:#7781a9;
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    box-shadow:inset 0px 0px 30px 30px #32364d;
}

.input_calc{
    padding-top:10px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:10px;
    box-sizing:border-box;
    position:relative;
    top:30px;
    left:4.5%;
    width:90%;
    height:230px;
    border-width:8px;
    border-style:solid;
    border-radius:15px;
    box-shadow:0px 0px 10px 10px grey;
    font-size:40px;
}


.calculate{
    margin-left:auto;
    margin-right:auto;
    margin-top:70px;
    padding:0;
}

.myButton{
    width:100px;
    height:100px;
    font-size:50px;
    font-family:sans-serif;
    color:#6c4c41;
    background:#b5fff1;
    border-width:5px;
    border-style:solid;
    border-color:#50bc8b;
    transition:0.8s;
    cursor: pointer;
}

.myButton:hover{
    background:#39bd8c;
    box-shadow:inset 0px 0 18px 18px  #b5fff1;
}

.myButton:active{
    transition:background-color 1s;
    transition:box-shadow 0.3s;
    background:#cfdad8;
    box-shadow:inset 0px 0 18px 18px  #39bd8c;
}


.matSimbol{
    width:100px;
    height:100px;
    font-size:50px;
    font-family:sans-serif;
    color:#494847;
    background:#e4a3d9;
    border-width:5px;
    border-style:solid;
    border-color:#b743d2;
    transition:0.8s;
    cursor: pointer;
}

.matSimbol:hover{
    background:#a562d7;
    box-shadow:inset 0px 0 18px 18px  #e28cec;
}

.matSimbol:active{
    transition:background-color 1s;
    transition:box-shadow 0.3s;
    background:#cfdad8;
    box-shadow:inset 0px 0 20px 20px  #a562d7;
}
